# Using a recent release (9.1 or higher) of PostgreSQL (http://postgresql.org/) is recommended.
# See https://github.com/openstreetmap/openstreetmap-website/blob/master/INSTALL.md#database-setup for detailed setup instructions.
#
development:
  adapter: postgresql
  database: openstreetmap
  username: root
  password: {{ postgres_password }}
  host: localhost
  encoding: utf8

test:
  adapter: postgresql
  database: osm_test
  host: localhost
  encoding: utf8

production:
  adapter: postgresql
  database: openstreetmap
  username: root
  password: {{ postgres_password }}
  host: localhost
  encoding: utf8
